<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="43200">
    <Properties>
        <property name="pattern_cmd">[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%t] [%logger{5}:%L] - %m%n</property>
        <property name="pattern_file">[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%t] [%logger{5}:%M(...):%L] - %m%n</property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_cmd}"/>
        </Console>
        <RollingFile name="File" fileName="/tmp/logs/log-file.log"
                     filePattern="/tmp/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="16MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="STDOUT" level="error"/>
            <AppenderRef ref="File" level="trace"/>
        </Root>
    </Loggers>
</Configuration>